# Java class files
*.class

# Node.js dependencies
/node_modules

# SSH Keys
*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files (JAR, WAR, EAR)
*.jar
*.war
*.ear

# Merge files
*.bak

# Gradle temporary files
.gradle/
build/

# Eclipse project files
.project
.classpath
.settings/
.metadata/
.target/

# IntelliJ files
**/*.iml
**/.idea
**/.gradle

# Maven wrapper files
.mvn/wrapper/
.mvn/

# Virtual machine crash logs
hs_err_pid*

