# Arquivos gerados pela IDE Eclipse/STS
.classpath
.project
.settings/
.metadata/

# Arquivos do Maven
.mvn/
target/

# Arquivos de script do Maven wrapper
mvnw
mvnw.cmd

# Arquivos temporários do Git
.gitignore.swp

